*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* loading page */
.page {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 1000;
  transition: 4s;
}


img {
    width: 200px;
    height: 200px;
    margin: 50px 0px;
}


h2 {
    color: #777;
    font-size: x-large;
    margin: 10px;
    font-family: 'Sansita Swashed', cursive;
}

/* loading page */



/*  header  */
header {
    padding: 14px 0px;
    text-align: center;
}



h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 75px;
    color: #111;
}

/* header ends */




/* footer */
footer {
    color: #777;
    padding: 14px 0px;
    display: flex;
    background-color: #f6f3f1;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

footer a {
    text-decoration: none;
}


footer a:hover, footer a:active, footer a:visited, a:focus {
    color: #111;
}


h4 {
    font-family: 'Sansita Swashed', cursive;
    color: #111;
}

/* footer ends */



/* Creators Section with Images, Names, Occupation and Educational  Information*/

.creators {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f9f7f5;
    padding: 30px 0px;
}


.cret-meet {
    text-align: center;
}


.cret-meet h1 {
    color: #111;
    font-size: 42px;
}



.cret-inf {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    margin: 33px 0px 50px 0px;
}


.cret-body {
    width: 67%;
    display: flex;
    margin: 33px 10px;
    user-select: none;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}


@media (max-width: 852px) {
    .cret-meet h1 {
        font-size: 36px;
    }

    .cret-body {
        flex-direction: column;
    }
}

.cret-zoo {
    width: 100%;
    min-height: 360px;
    margin: 10px 0px 22px 0px;
    display: block;
    align-items: center;
    text-align: center;
}

.cret-zoo h2 {
    color: #333;
    font-size: 33px;
    padding-bottom: 10px;
    font-family: 'Sansita Swashed', cursive;

}

.cret-zoo h3 {
    font-size: large;
    color: #444;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



.img-not-user {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin: 42px 0px;
    border-style: dotted;
    border-width: 50px;
    border: #09aa09;
}

/* Completed Creator Information */