#x2 {
    color: #f1f1f1;
    background: #007d00;
}

.settings {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 4px ;
    overflow: hidden;
}

 .settings-block{
     width: fit-content;
     height: auto;
    justify-content: space-around;
    padding: 0px 0px 20px 0px;
    flex-direction: column;
 }


.stngs-form-a,.stngs-form-b,.stngs-form-c{
    width: 360px;
    height: max-content;
    margin: 20px 0px;
}

.item-form-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.item-form-header h1 {
    user-select: none;
}


.form-step, form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0px;
    font-size: 16px;
}

.item-text-field {
    width: 300px;
    height: 42px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: 1px solid #aaa;
    padding: 0px 10px;
    margin: 0px 0px 20px 0px;
}

.label-sbt, .add-sbt, .del-sbt {
    width: 125px;
    height: 40px;
    cursor: pointer;
    outline: none;
    color: #f1f1f1;
    font-size: 14px;
    border-width: 0px;
    border-radius: 24px;
    background-color: #007d00;
}

.label-sbt {
    background-color: #00a0f0;
}

.del-sbt {
    background-color: #7d0000;
}

.selection-labels {
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
}
.vn-labels {
    width: fit-content;
    height: 30px;
    margin: 16px 0px;
}
.veg-x {
    list-style: none;
}