 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kechup | Easy Database & Order Management System</title>
    <link href="{% static 'local/auth.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'local/src/bill.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div>
            <img src="{% static 'local/src/Lazy-kook.png' %}" alt="Loadin ...">
        </div>
        <div>
            <h2>Loading ...</h2>
        </div>
    </div>
    <header>
        <h1>Kechup.</h1>
    </header>
    <section>
        <div class="forms">
            <div class="form-next">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="namecall" class="k-name" autocomplete="off" placeholder="Name" title="Enter Your Name" required>
                    <input type="password" name="codecall" class="k-code" autocomplete="off" placeholder="Passcode" title="Enter Secret Code" required>
            </div>
            <div class="form-mate">
                <input type="submit" value="Go" class="k-send">
                </form>
            </div>
        </div>
    </section>
    <footer>
        <a href="mailto:Lalisfeed.in@gmail.com" title="Mail us your contact details">
            <h4>Request Account</h4>
        </a>
        <h5> &copy; 2020 Kechup Inc.</h5>
        <a href="mailto:Akhilraj1729@gmail.com" title="Mail us your contact details">
            <h4>Request Deletion</h4>
        </a>
    </footer>


    <script>

        window.addEventListener('DOMContentLoaded', () => {
            console.log('DOMContentLoaded')
        })
        
        window.addEventListener('load', () => {
            // document.querySelector('.page').style.display = "flex";
            console.log('loading...')
        })
    </script>
</body>
</html>