{% extends "local/locate.html" %}
<!-- menu lists items and makes orders -->
{% load static %}


{% block title %}Manage Orders{% endblock %}
{% block head %}
    <link href="{% static 'local/menu.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="menu-body">
        <div class="menu-head">
            <h1>Menu</h1>
        </div>
        <div class="label-data">
            {% for label in labels %}
            <table>
            <h1>{{label}}</h1>
                <tr>
                    <th>Item</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
                {% for item in items %} 
                <tr>
                    <td>
                        {{ item.item_name }}
                    </td>
                    <td>
                        {{ item.item_type }}
                    </td>
                    <td>
                        {{ item.item_price }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}