{% load static %}

{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kechup | Signup</title>
    <link href="{% static 'local/auth.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'local/src/bill.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center-up">
        <!-- signup part -->
        <div class="signup-first" >
            <div class="form-x">
                <form action="{% url 'local:new' %}" method="post">
                    {% csrf_token %}
                    <div class="names-e">
                        {{ nextForm.username|attr:"class:uname"|attr:"placeholder:create Username"|attr:"autocomplete:off" }}
                    <!-- <input type="email" class="uname" placeholder="Email Id"> -->
                    </div>
                    <div class="names-x">
                        {{ nextForm.first_name|attr:"class:fame"|attr:"placeholder:FirstName"|attr:"autocomplete:off" }}
            
                    <!-- <input type="text" class="fame" placeholder="First Name"> -->
                        {{ nextForm.last_name|attr:"class:fame"|attr:"placeholder:LastName"|attr:"autocomplete:off" }}
                        <!-- <input type="text" class="fame" placeholder="Last Name"> -->
                    </div>
                    <div class="names-e">
                        {{ nextForm.email|attr:"class:uname"|attr:"placeholder:Email"|attr:"autocomplete:off" }}
                    <!-- <input type="email" class="uname" placeholder="Email Id"> -->
                    </div>
                    <div class="names-p">
                        {{ nextForm.password1|attr:"class:pname"|attr:"placeholder:Set Password" }}
                    <!-- <input type="password" class="pname" placeholder="Set Password"> -->
                    </div>
                    <div class="names-p">
                        {{ nextForm.password2|attr:"class:pname"|attr:"placeholder:Confirm Password" }}
                <!-- <input type="password" class="pname" placeholder="Set Password"> -->
                    </div>
                    <div class="names-s">
                        <input type="submit" value="Sign Up" class="subit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sign-up-message">
        {% if good %}
        {{good}}
        <a href="{% url 'local:auth' %}">Back To Website</a>
        {% endif %}
    </div>
</body>
</html>