{% extends "local/locate.html" %}

{% load static %}


{% block title %}Past Orders{% endblock %}
{% block head %}
    <link href="{% static 'local/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<section class="order-hist">
    <article class="order">
        kechup
    </article>
    <article class="order">
        kechup
    </article>
    <article class="order">
        kechup
    </article>
    <article class="order">
        kechup
    </article>
    <article class="order">
        kechup
    </article>
    <article class="order">
        kechup
    </article>
    <div class="space"></div>
</section>
<!-- <section class="section-x">
    <div>kechup</div>
</section>
<section class="section-y">
    <div>kechup</div>
</section> -->
{% endblock %}