{% extends "local/locate.html" %}

{% load static %}


{% block title %}Past Orders{% endblock %}
{% block head %}
    <link href="{% static 'local/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="new-ord">
    <div class="new-btn">
        <a href="{% url 'local:neworder' %}"><button class="new-ord-btn">+ Create Order</button></a>
    </div>
    <div class="sep-line"></div>
    <div class="new-name">
        <h1>Past Orders</h1>
    </div>
    {% comment %} {{allorders}} {% endcomment %}
    <div class="new-list">
    {% comment %} repetion tabs {% endcomment %}
        <div class="order-min">
            <h2>Example ID</h2>
            <div class="sep-line-div"></div>
            <div class="ord-sep-data">
                <div class="order-itm">
                    <div class="order-item-ne">
                    Item Name
                    </div>
                    <div class="order-item-nm">
                    x No.
                    </div>
                    <div class="order-item-vl">
                    Price
                    </div>
                </div>
            </div>
            <div class="sep-line-div"></div>
            
            <div class="ord-sep-data">
                {% comment %}  {% endcomment %}
                <div class="order-item">
                    <div class="order-item-nme">
                    Example Item
                    </div>
                    <div class="order-item-num">
                    x1
                    </div>
                    <div class="order-item-val">
                    100
                    </div>
                </div>
                {% comment %}  {% endcomment %}
                <div class="sep-line-div"></div>
                <div class="ord-total">
                    <h2>Total</h2>
                    <h2>100</h2>
                </div>
            </div>
        </div>
{% comment %} Item repet end {% endcomment %}
    </div>
</div>

{% endblock %}