{% extends "local/locate.html" %}

{% load static %}


{% block title %}Your Profile{% endblock %}
{% block head %}
<link href="{% static 'local/profill.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="profile-need">
    <div class="profile-ned">
        <h1>{{user.username}}</h1>
    </div>
    <div class="profile-ned">
        <h1>{{user.first_name}}</h1>
        <h1>{{user.last_name}}</h1>
    </div>
    <div class="profile-ned">
        <h1>{{user.email}}</h1>
    </div>
</div>
{% endblock %}