{% extends "local/locate.html" %}

{% load static %}

{% load widget_tweaks %}


{% block title %}Edit Database{% endblock %}
{% block head %}
    <link href="{% static 'local/settings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="settings">
    <div class="settings-block" data-aos="fade-in">
        <div class="stngs-form-a">
            <div class="item-form-header">
                <h1>Create new label</h1>
            </div>
            <div class="form-step">
                <form action="{% url 'local:settings' %}" method="post">
                    {% csrf_token %}
                    {{ labelForm.new_item_label|attr:"class:item-text-field"|attr:"placeholder:For ex: Pastries" }}
                    <!-- <input type="text" class="item-text-field" placeholder="Label Name"> -->
                    <input type="submit" value="Create Label" class="label-sbt">
                </form>
            </div>
        </div>
        <div class="stngs-form-b">
            {% if item_mess %}
                {{ item_mess }}
            {% endif %}
            <div class="item-form-header">
                <h1>Add items to menu</h1>
            </div>
            <div>
                <form action="{% url 'local:settings' %}" method="post">
                    {% csrf_token %}
                    {{ itemForm.new_item_name|attr:"class:item-text-field"|attr:"placeholder:For ex: Chocolate cake" }}
                    <!-- <input type="text" class="item-text-field" placeholder="Item Name"> -->
                    {{ itemForm.new_item_price|attr:"class:item-text-field"|attr:"placeholder:Set Item Price" }}
                    <!-- <input type="number" class="item-text-field" placeholder="Item Price"> -->
                <div class="selection-label">
                    <select  name= "selected_label"class="selected_label">
                    {% for label in select_label %}
                        <option name="{{ label.label_name }}" id="">{{ label.label_name }}</option>
                    {% empty %}
                        <option name="none">None</option>
                    {% endfor %}
                    </select>
                </div>
                    
                <div class="vn-labels">
                    {{ itemForm.new_veg_label|attr:"class:veg-x" }}
                    <!-- <input type="radio" name="vegnon" class="veg-x" value="0">
                    <label for="veg-x">Veg</label>
                    <input type="radio" name="vegnon" class="veg-y"  value="1">
                    <label for="veg-y">Non-Veg</label> -->
                </div>
                    <input type="submit" value="Add Item" class="add-sbt">
                </form>
            </div>
        </div>
        
        <div class="stngs-form-c">
            <div class="item-form-header">
                <h1>Delete label</h1>
            </div>
            <div>
                <form action="{% url 'local:settings' %}" method="post">
                    {% csrf_token %}
                    {{ delLabelForm.del_label_name|attr:"class:item-text-field"|attr:"placeholder:Label to Delete" }}
                    <!-- <input type="text" class="item-text-field" placeholder="Item Name">             -->
                    <input type="submit" value="Delete Label" class="del-sbt">
                </form>
            </div>
        </div>

        <div class="stngs-form-c">
            <div class="item-form-header">
                <h1>Delete item</h1>
            </div>
            <div>
                <form action="{% url 'local:settings' %}" method="post">
                    {% csrf_token %}
                    {{ delForm.del_item_name|attr:"class:item-text-field"|attr:"placeholder:Item to Delete" }}
                    <!-- <input type="text" class="item-text-field" placeholder="Item Name">             -->
                    <input type="submit" value="Delete Item" class="del-sbt">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}