{% extends "local/locate.html" %}

{% load static %}


{% block title %}Edit Database{% endblock %}
{% block head %}
    <link href="{% static 'local/settings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="settings">
    <div class="cont-settings">
        <div class="klabels">
            <form action="" method="post" class="itemform-a">
                {% csrf_token %}
                <input type="text" name="new-label" class="new-label">
                <input type="submit" value="Create Label" class="new-label-sbt">
            </form>
        </div>

        <div class="kadd-item">
            <div class="kadd-fst">
            <form action="" method="post" class="itemform-b">
                {% csrf_token %}
                <input type="text" class="new-item">
                <select name="ad-label" id="add-opt">
                    <option value="">values</option>
                </select>
            </div>
            <div class="kadd-snd">
                <div>
                <input type="radio" name="vegnon" id="veg-x" value="ve">
                <label for="veg-x">Veg</label>
                </div>
                <div>
                <input type="radio" name="vegnon" id="veg-y" value="vn">
                <label for="veg-y">Non-Veg</label>
                </div>
            </div>
            <div class="kadd-trd">
                <input type="number" name="price" id="price">
                <input type="submit" value="Add Item" class="new-item-sbt">
            </div>
            </form>
        </div>

        <div class="kdel-item">
            <form action="" method="post" class="itemform-c">
                {% csrf_token %}
                <input type="text" name="del-name" class="del-name">
                <select name="del-label" id="del-opt">
                    <option value="">values</option>
                </select>
                <input type="submit" name="delsub" class="del-item-sbt" value="Delete Item">
            </form>
        </div>
    </div>
</div>
{% endblock %}